In [1]:
import nltk

In [2]:
#nltk.download('punkt')

In [3]:
import pandas as pd

In [4]:
fake=pd.read_csv("Dataset/Fake.csv")
true=pd.read_csv("Dataset/True.csv")

In [5]:
display(fake.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

None

In [6]:
display(true.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

None

In [7]:
display(fake.subject.value_counts())

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

In [8]:
fake['target']=0
true['target']=1

In [9]:
display(fake.head())

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [10]:
data=pd.concat([fake,true],axis=0)
date=data.reset_index(drop=True)

In [11]:
data=data.drop(['subject','date','title'],axis=1)

In [12]:
print(data.columns)

Index(['text', 'target'], dtype='object')

In [13]:
from nltk.tokenize import word_tokenize

In [14]:
data['text']=data['text'].apply(word_tokenize)

# Stemming

In [15]:
print(data.head(10))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

In [16]:
from nltk.stem.snowball import SnowballStemmer
porter=SnowballStemmer('english')

In [17]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [18]:
data['text']=data['text'].apply(stem_it)

In [19]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, of, case, of, cop, brutal, and, ...       0
6  [donald, trump, spent, a, good, portion, of, h...       0
7  [in, the, wake, of, yet, anoth, court, decis, ...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, we, d,...       0

In [20]:
def stop_it(t):
    dt=[word for word in t if len(word)>2]
    return dt

In [21]:
data['text']=data['text'].apply(stop_it)

In [22]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, wish, all, ameri...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [friday, was, reveal, that, former, milwauke, ...       0
3  [christma, day, donald, trump, announc, that, ...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, case, cop, brutal, and, kill, pe...       0
6  [donald, trump, spent, good, portion, his, day...       0
7  [the, wake, yet, anoth, court, decis, that, de...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, get, b...       0

In [23]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, wish, all, ameri...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [friday, was, reveal, that, former, milwauke, ...       0
3  [christma, day, donald, trump, announc, that, ...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, case, cop, brutal, and, kill, pe...       0
6  [donald, trump, spent, good, portion, his, day...       0
7  [the, wake, yet, anoth, court, decis, that, de...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, get, b...       0

In [24]:
data['text']=data['text'].apply(' '.join)

In [25]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(data['text'],data['target'])

display(x_train.head())
print('\n')
display(y_train.head)

2044     reuter presid donald trump said tuesday was wi...
12138
12435    kabul reuter one afghan and three turkish teac...
16717    mogadishu reuter two somali soldier were wound...
8989     washington reuter bipartisan group lawmak frid...
Name: text, dtype: object

<bound method NDFrame.head of 2044     1
12138    0
12435    1
16717    1
8989     1
        ..
16190    0
14656    1
13679    0
13795    1
2975     0
Name: target, Length: 33673, dtype: int64>

In [26]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf=TfidfVectorizer(max_df=0.7)

In [27]:
tfidf_train=my_tfidf.fit_transform(x_train)
tfidf_test=my_tfidf.transform(x_test)

In [28]:
print(tfidf_train)

  (0, 51438)	0.013637257687226373
  (0, 41985)	0.027463341875514875
  (0, 85864)	0.015041337493848032
  (0, 29799)	0.024589828556529796
  (0, 64574)	0.018291004939516846
  (0, 61244)	0.01265382763290039
  (0, 81674)	0.022971204740464626
  (0, 20467)	0.09441358916297048
  (0, 12311)	0.014821869892157105
  (0, 81412)	0.009349750355715695
  (0, 28000)	0.020918031808901026
  (0, 22573)	0.022518051774105416
  (0, 69666)	0.030940749825253095
  (0, 7900)	0.017686706391465065
  (0, 76409)	0.035513361498113696
  (0, 69487)	0.02714400828412229
  (0, 69473)	0.01884645282299732
  (0, 60848)	0.04845368416478773
  (0, 85106)	0.03740236166106533
  (0, 7317)	0.027955426003444354
  (0, 62379)	0.01639168080627513
  (0, 27019)	0.027611585220403537
  (0, 89685)	0.04032186177375382
  (0, 31373)	0.02361577099168835
  (0, 60627)	0.011558173161596122
  :	:
  (33672, 55771)	0.02665194451338557
  (33672, 10804)	0.01747781724822907
  (33672, 60670)	0.025991187120588788
  (33672, 37949)	0.15955200502690098
  (33672, 37799)	0.0639033512198418
  (33672, 28531)	0.04417871890399263
  (33672, 59211)	0.03185314190139858
  (33672, 48333)	0.024465124361641277
  (33672, 89610)	0.053454663382477924
  (33672, 81329)	0.01864138716756992
  (33672, 88711)	0.05302539387585679
  (33672, 88270)	0.026657039937378262
  (33672, 88704)	0.02029318699659072
  (33672, 88679)	0.02149354353063991
  (33672, 56184)	0.06313350632068794
  (33672, 15758)	0.03184930276229931
  (33672, 7380)	0.03824636792195158
  (33672, 46835)	0.05830560243910609
  (33672, 57605)	0.056846212468271706
  (33672, 88636)	0.04422215177168904
  (33672, 35811)	0.025389108517263295
  (33672, 89025)	0.03913888579638787
  (33672, 83265)	0.23557877667757735
  (33672, 26807)	0.06531815063617692
  (33672, 65485)	0.01887814444135543

# LogisticRegression

In [29]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [30]:
model_1=LogisticRegression(max_iter=900)
model_1.fit(tfidf_train,y_train)
pred_1=model_1.predict(tfidf_test)
cr1=accuracy_score(y_test,pred_1)
print(cr1*100)

98.86859688195992

# PassiveAggressiveClassifier

In [31]:
from sklearn.linear_model import PassiveAggressiveClassifier
model=PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train,y_train)

PassiveAggressiveClassifier(max_iter=50)

In [32]:
y_pred=model.predict(tfidf_test)
accscore=accuracy_score(y_test,y_pred)
print('The accuracy of prediction is ',accscore*100)

The accuracy of prediction is  99.59020044543429