In [1]:
import pandas as pd

In [3]:
k={1:12,2:23,3:16,4:11}
df2=pd.DataFrame(k)

ValueError: If using all scalar values, you must pass an index

In [39]:
#iris=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
print(type(iris))
print(iris)

<class 'pandas.core.frame.DataFrame'>
     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [42]:
df=iris.copy()
df

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [43]:
print(df.head())
print(df.tail())

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
     5.1  3.5  1.4  0.2     Iris-setosa
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

In [44]:
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [45]:
df.columns

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')

In [46]:
#changing column names
df.columns=['s1','s2','s3','s4','flower_type']

In [51]:
print(df.columns)
print(df.shape)
print(df.dtypes)

Index(['s1', 's2', 's3', 's4', 'flower_type'], dtype='object')
(149, 5)
s1             float64
s2             float64
s3             float64
s4             float64
flower_type     object
dtype: object

In [55]:
#describe
print(df.describe())
df.describe(include='all')

               s1          s2          s3          s4
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

                s1          s2          s3          s4      flower_type
count   149.000000  149.000000  149.000000  149.000000              149
unique         NaN         NaN         NaN         NaN                3
top            NaN         NaN         NaN         NaN  Iris-versicolor
freq           NaN         NaN         NaN         NaN               50
mean      5.848322    3.051007    3.774497    1.205369              NaN
std       0.828594    0.433499    1.759651    0.761292              NaN
min       4.300000    2.000000    1.000000    0.100000              NaN
25%       5.100000    2.800000    1.600000    0.300000              NaN
50%       5.800000    3.000000    4.400000    1.300000              NaN
75%       6.400000    3.300000    5.100000    1.800000              NaN
max       7.900000    4.400000    6.900000    2.500000              NaN

In [60]:
df['s1']

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: s1, Length: 149, dtype: float64

In [ ]:
df2=pd.D